/* latin-ext */
@font-face {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/albertsans/v1/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHq5PPpYf3fxA.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/albertsans/v1/i7dZIFdwYjGaAMFtZd_QA3xXSKZqhr-TenSHq5PPq4f3.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans';
}

:root {
    --max-page-width: 1280px;
    --page-margin: 24px;
    --default-border-radius: 4px;
    --border-radius-medium: 8px;
    --color-primary: #448bd2;
    --color-primary-light: #448bd215;
    --color-primary-dark: #337ac2;
    --color-primary-variant: #D33396;
    --color-primary-variant-dark: #b10b71;
    --color-error: rgb(245, 76, 76);
    --color-success: rgb(53, 184, 107);
    --color-primary-variant-light: #d3339621;
    --color-tertiary: #6F40BD;
    --color-secondary: White;
    --color-on-secondary: #210053b6;
    --surface-color: #F5F5F5;
    --surface-variant-color: #ffffff;
    --surface-dark-color: #e0e0e0;



    --big-2-font: 28px;
    --big-font: 24px;
    --average-font: 20px;
    --medium-font: 16px;
    --medium-2-font: 18px;
    --small-font: 12px;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
    -webkit-text-size-adjust: 100%;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

h2 {
    font-size: var(--big-font);
}

.reveal {
    /* position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease; */
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}




@media only screen and (max-width: 700px) {
    :root {
        --page-margin: 12px;
    }
}






/* --------------------- table ----------------------- */

.table-holder {
    margin-top: 2rem;
    overflow-x: auto;
    width: 100%;
}

.table-holder input,
.table-holder textarea {
    border: none;
    border: 1px solid var(--color-surface-dark);
    padding: 0.4em 1em;
    font-size: var(--medium-font);
    background-color: transparent;
    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;

}

.table-holder table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: var(--radius-medium);
}

.table-holder table * {
    white-space: nowrap;
}

.table-holder table .name {
    min-width: 500px;
    white-space: normal;
}

.table-holder thead {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.table-holder th {
    padding: 1em;
    font-weight: 400;
    color: var(--color-primary);
}

.table-holder td {
    padding: 0.8em 1em;
    border-bottom: 1px solid var(--color-surface);
}

.table-holder td button {
    margin: auto;
    display: block;
    border: none;
    background-color: transparent;
}

.table-holder td svg {
    fill: var(--color-primary)
}

.table-holder td .delete svg {
    fill: var(--color-error);
}

.table-holder td .update svg {
    fill: var(--color-secondary);
}

.table-holder td .success svg {
    fill: var(--color-success);
}

.table-holder td button:hover {
    scale: 1.2;
}


.table-holder tbody tr {
    background-color: var(--color-surface-variant);
    cursor: pointer;
}

.table-holder tbody tr:hover {
    background-color: var(--color-surface);

}


/* loader 2 */

.loader2 {
    margin: auto;
    border: 2px solid var(--color-secondary);
    border-left-color: transparent !important;
    width: 24px;
    height: 24px;
    animation: spin89345 1s linear infinite;
    border-radius: 50%;
}

.loader2.dark {
    border: 2px solid var(--color-on-secondary);
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
